.Rproj.user
.Rhistory
.RData
data
R/hSDM_Tutorial_cache
*.Rproj

*.RData

*.rdb

*.rdx

R/hSDM_DataPrep_cache/markdown_github/__packages

R/hSDM_DataPrep_cache/html/__packages

R/Lepidocolaptes_lacrymiger.zip

R/Lepidocolaptes_lacrymiger.shx

R/Lepidocolaptes_lacrymiger.shp

R/Lepidocolaptes_lacrymiger.dbf

R/Lepidocolaptes_lacrymiger.cpg

R/Lepidocolaptes_lacrymiger_env_scaled.tif

R/Lepidocolaptes_lacrymiger_points_env.csv

R/Lepidocolaptes_lacrymiger.prj

hSDM_DataPrep_cache/html/__packages

hSDM_DataPrep_cache/markdown_github/__packages

Lepidocolaptes_lacrymiger.zip

Lepidocolaptes_lacrymiger.shx

Lepidocolaptes_lacrymiger.shp

Lepidocolaptes_lacrymiger.prj

Lepidocolaptes_lacrymiger.dbf

Lepidocolaptes_lacrymiger.cpg

Lepidocolaptes_lacrymiger_points_env.csv

hSDM_Tutorial_cache/markdown_github/__packages

Lepidocolaptes_lacrymiger_env_scaled.tif
DataPrep
